#game_container {
    height: 500px;
    width: 600px;
    position: relative;
    margin: auto;
    border: 1px solid black;
    overflow: hidden;
}

#character {
    height: 35px;
    width: 35px;
    background-color: pink;
    position: absolute;
    left: 150px;
    top: 200px;
}

#enemy_block_1 {
    height: 400px;
    width: 35px;
    background-color: lightblue;
    position: absolute;
    top: 250px;
    left: 600px;
}

#enemy_block_2 {
    height: 400px;
    width: 35px;
    background-color: lightblue;
    position: absolute;
    top: -250px;
    left: 600px;
}

#ground {
    height: 80px;
    width: 600px;
    position: absolute;
    top: 420px;
    background-color: purple;
}